#about{
  background-color: $primary-color;
  color: $secondary-color;
}

.container-about img{
  border-radius: 70%;
  width: 100%;
}

.container-about{
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-items: center;
justify-content: center;
width: 350px;
margin: 0 auto;
text-align: justify;
}

.container-about > div{
  width:17em;
  margin: 1em;

}

.container-about > div:nth-of-type(3){
  min-width: 100%;
  margin: 0;
}


.skills {
  padding: 20px;
  text-align: center;
}

.skills .section-title {
  font-size: 1.5em;
}

.skill {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.skill-item {
  width: calc(50% - 20px);
  margin-bottom: 20px;
  text-align: left;
}

.skill-item p {
  margin-bottom: 5px;
  font-weight: bold;
  color: $secondary-color;
}

.progress-container {
  height: 15px;
  background-color: #ddd;
  border-radius: 20px;
  position: relative;
}

.progress-bar {
  height: 100%;
  border-radius: 20px;
  background-color: #5979c3;
  width: 0;
  transition: width 0.5s;
}