$primary-color: #656565;
$secondary-color: #fff;
$background-color: #3d3d3d;
$button-background: #fff;
$button-text: #656565;
$navbar-bg: #333;
$navbar-text: white;
$progress-bg: #f1f1f1;
$progress-fill: #4caf50;
$form-bg: #333;
$form-text: #fff;
$form-shadow: rgba(0, 0, 0, 0.1);
